/* CSS Code */

* {
    margin: 0;
    padding: 0;
}

/* Heading */

h1 {
    top: 150px; 
    color: rgb(0, 183, 255);
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
}

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid rgba(253, 29, 29, 1);
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    background: rgb(102, 255, 80);
    background: linear-gradient(90deg, rgba(102, 255, 80, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

/* Reset Button */
#but
{
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background: linear-gradient(rgb(88, 88, 230), rgb(49, 211, 49));
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Player turn space */
#print
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}

/* Main Container */
#main
{
    text-align: center;
    background: rgb(102, 255, 80);
    background: linear-gradient(90deg, rgba(102, 255, 80, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-size: 400% 400%;
}

/* Game Instruction Text */
#ins
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
}
